* { 
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
}

body { 
	font-family: 'Saira', sans-serif;
	font-size: 15px;
	padding: 20px;
	background: #f1f1f1;
	/* background: red; */
	/* background: -webkit-gradient(linear, left top, right top, color-stop(0%, transparent), color-stop(50%,#fff), color-stop(100%,transparent)); Chrome, Safari4+ */
}
 
 
#intro {
	color: #000;
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	/* background:  -webkit-linear-gradient(bottom,  #818181, #cfcfcf); */
	background: #cfcfcf;
	box-shadow: 3px 5px 0px #111;
	border-radius: 6px;
	margin-bottom: 10px;
	 /* height: 10%;	 */
 } 
 
form { 
 	/* background: #000000;  */
 	/* padding: 3px;  */
	 position: fixed; 
	 display: flex;
	 justify-content:first baseline;
 	/* bottom: 35px;  */
	 width: 100%; 
 }
 
 form input { 
	background-color: #cfcfcf;
	/* border: 1px solid rgba(0, 0, 0, 0.205); */
	border: none;
	border-radius: 6px;
	 padding: 10px; 
	 margin-top: 40px;
	width: 90%; 
	 /* margin-right: 0.5%;  */
	box-shadow: 4px 5px 0px 2px #111;
 }

 form input::placeholder {
	 font-family: 'Saira', sans-serif;
	 color: #111;
 }

 form input:focus{
	 outline: none;
 }
 
 /* form button { 
 	width: 5%; 
 	background: #00aaff;
 	border: 1px solid #0099e6; 
	padding: 6px; 
	border-radius: 6px;
	color: #fff;
 	font-size: 1rem; 
 } */
 
 #messages { 
	list-style-type: none;
 	margin: 0; 
	 padding: 0; 
	 min-height: 73vh;
	 max-height: 73vh;
	 overflow: scroll;	
 }

 @media screen and (max-width: 600px) {
	 #messages {
		min-height: 50vh;
		max-height: 50vh;
	 }
 }
 
 #messages li { 
	 padding: 5px 10px; 
	 margin-bottom: 2px;
	 margin-right: 20%;
	 margin-left: 20%;
 }

 @media screen and (max-width: 600px) {
	#messages li { 
		margin-right: 0;
		margin-left: 0;
	}
 }
 
 #messages li:nth-child(odd) { 
	 background: #d6d6d6; 
	 border-radius: 4px;
 }

 #messages li:nth-child(even) { 
	background: #353535; 
	color: #fff;
	border-radius: 4px;
}


#list{
	text-align: right;
}

/* body {
	background-color: linear-gradient(to top, #245edb 0%, #0c8dea 100%);
} */